body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(130, 119, 116);
    height: 200vh;
    width: auto;
}
label {
    margin-top: 50px;
    display: block;
    margin-bottom: 5px;
}
input {
   
    border-radius: 999px;
}
button {
    margin-top: 10px;
}
.img1{
    height: auto;
    width: 300px;
    border: solid 10px purple;
    transition: all 200ms linear;
}
.img1:hover{
height: auto;
width: 320px;
transition: all 200ms linear;

}
.exo-2-{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }